<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body>
    <div class="modal fade modal-lg" id="modalUserDados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%=modalMode%></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container from-control">
    <div class="card border-dark mb-3 w-100 mt-5">
      <div class="card-header">Cadastros</div>
      <div class="card-body text-dark">
        <h5 class="card-title">Usuários</h5>
        <table id ="usersTable" class="table table-sm table-bordered 
                                      table-striped table-hover table-secondary my-1">
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Tipo</th>
              <th>Email</th>
              <th>Ativo</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
  <%-include('partials/libs.ejs') %> <!--arquivo de import de libs genéricas-->
<script>

  async function deleteUser(user){
    Swal({
        title: "Apagar Usuário?",
        text: "Ao clicar em 'OK' o usuário será apagado.",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, apagar!",
        closeOnConfirm: false
    }, function (isConfirm) {
        if (!isConfirm) {
          return alertError(
            'Operação abortada!',
            `O Usuário${user.user}não foi apagado.`
          );
        }
        $.ajax({
            url: "user/deletar",
            type: "POST",
            data: {
              id : user.id,
              user : '',
              pass : '',
              mail : '',
              type : '',
              active : '',
            },
            dataType: "html",
            success: function () {
                alertSuccess(
                  'Usuário apagado!',
                  `O usuário${user.user} foi apagado com sucesso.`
                );
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alertError(
                  '** ERRO **',
                  `Falha ao apagar o usuário${user.user}.`
                );
            }
        });
    });
    return;
  }

  function setDataModal(user){

  }

  let userTable =   $('#usersTable').DataTable({
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json",
      }, 
      "paging": false,
      "searching":false,
      
      ajax: function ( data, callback, settings ) { 
        $.ajax({            
            url: '/user/buscar' ,            
            type: 'post',
            contentType: 'application/json',
            headers: {
							"Authorization": "Bearer " + '<%=session.token%>'
						},                   
            success: function( arrUsers, textStatus, jQxhr ){            	
                callback({
                    // draw: data.draw,
                    data: arrUsers.data,
                    recordsTotal:  arrUsers.data.length,
                    recordsFiltered:  arrUsers.data.length
                });                              
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log(errorThrown)                
            }
        });
      },
      "serverSide":true,
		  columns: [                
				{ data: "user" },
				{ data: "type" },	        
				{ data: "mail" },	        
				{ data: "active" },	        
				{ defaultContent: "<a href='#' id='btnEditar' class='btn btn-default btn-warning 	btn-circle btn-sm' data-bs-toggle='modal' data-bs-target='#modalUserDados' ><i class='fas fa-edit'></i></a>"+
					"<a href='#' id='btnExcluir' class='btn btn-default btn-danger btn-circle btn-sm'><i class='fa-solid fa-trash'></i></i></a>"}                
		  ]
    });

    $('#usersTable tbody').on( 'click', 'a', async function () {
	    let btnUser = $(this)[0].id;
	    let dataRow = userTable.row( $(this).parents('tr') ).data();

	    if(btnUser=='btnExcluir'){
          await deleteUser(dataRow)
	    }else{
	        setDataModal(dataRow.id);    
	    }                    
	});  
  // });
</script>
</body>

<%- include('partials/footer.ejs') %>