<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<body>
    <div class="modal fade " id="modalUserDados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastro de Usuário</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input id="iptUserId" type="text" class="form-control my-2" placeholder="Id" disabled>
          <input id="iptUserName" type="text" class="form-control my-2" placeholder="Usuário" required>
            <input id="iptUserMail" type="mail" class="form-control my-2" placeholder="Email" required>
            <input id="iptUserPass" type="password" class="form-control my-2" placeholder="Senha" required>
            <div class="row ms-1">
              <div class="col-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioUserConvencional" checked>
                  <label class="form-check-label" for="radioUserConvencional">
                    Usuário convencional.
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioUserAdministrador">
                  <label class="form-check-label" for="radioUserAdministrador">
                    Usuário administrador.
                  </label>
                </div>
              </div>  
              <div class="form-check col-6">
                <input class="form-check-input" type="checkbox" value="" id="checkUserAtivo" checked>
                <label class="form-check-label" for="checkUserAtivo">
                  Usuário ativo.
                </label>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnUserCancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" id="btnUserSave" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container from-control">
    <div class="card border-dark mb-3 mt-5">
      <div class="card-header">Cadastros</div>
      <div class="card-body text-dark">
        <div class="d-flex justify-content-between">
          <h5 class="card-title">Usuários</h5>
          <a href='#' id='btnNew' class='btn btn-default btn-primary 	btn-circle' data-bs-toggle='modal' data-bs-target='#modalUserDados' ><i class="fa-solid fa-user-plus"></i></a>
        </div>
        <div class="table-responsive">
          <table id ="usersTable" class="table table-sm table-bordered 
                                      table-striped table-hover table-secondary my-1">
          <thead>
            <tr>
              <th>Usuário</th>
              <th>Tipo</th>
              <th>Email</th>
              <th>Ativo</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

  
  <%-include('partials/libs.ejs') %> <!--arquivo de import de libs genéricas-->
<script>

  async function deleteUser(user){
    
    Swal.fire({
        title: `Apagar usuário '${user.user}'?`,
        text: "Ao clicar em 'OK' o usuário será apagado.",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: 'Não, cancelar',
        confirmButtonText: "Sim, apagar!"
    }).then(decision =>{
      if (!decision.isConfirmed) {
        alertError(
          'Operação abortada!',
          `O Usuário '${user.user}' não foi apagado.`
        );
        return;
      }
      $.ajax({
        url: "/user/deletar",
        type: "delete",
        contentType: 'application/json',
        headers: {
          "Authorization": "Bearer " + '<%=session.token%>'
        },
        data: JSON.stringify({
          "id" : user.id,
          "user" : '',
          "pass" : '',
          "mail" : '',
          "type" : '',
          "active" : '',
        }),  
        success: function (result, textStatus, jQxhr) {
          alertSuccess(
            'Usuário apagado!',
            `O usuário '${user.user}' foi apagado com sucesso.`
          );
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alertError(
            '** ERRO **',
            `Falha ao apagar o usuário '${user.user}'.`
          );
        }
      });
      
    })
    return;
  }

  function clearModalUser(){
    $("#iptUserId").val("");
    $("#iptUserName").val("");
    $("#iptUserMail").val("");
    $("#iptUserPass").val("");
    $("#checkUserAtivo").prop("checked", true);
    $("#radioUserConvencional").prop("checked", true);
    $("#radioUserAdministrador").prop("checked", false);
  }

  function setDataUserModal(user){
    if(!user) {
      clearModalUser();
      return;
    }
    $("#iptUserId").val(user.id);
    $("#iptUserName").val(user.user);
    $("#iptUserMail").val(user.mail);
    $("#iptUserPass").val(user.pass);
    $("#checkUserAtivo").prop("checked", user.active);
    
    let userType = true;
    if(user.type === 'ADM') userType = !userType;
    $("#radioUserConvencional").prop("checked", userType);
    $("#radioUserAdministrador").prop("checked", !userType);
  }

  function buildUser(){
    let user = {};
    user.id = $("#iptUserId").val();
    user.user = $("#iptUserName").val();
    user.mail = $("#iptUserMail").val();
    user.pass = $("#iptUserPass").val();
    user.active =$("#checkUserAtivo").prop('checked');
    if($("#radioUserConvencional").prop('checked')){
      user.type = 'USER'
    }else{
      user.type = 'ADM'
    }

    return user;
  }

  async function updateUser(user){
    $.ajax({
        url: "/user/alterar",
        type: "put",
        contentType: 'application/json',
        headers: {
          "Authorization": "Bearer " + '<%=session.token%>'
        },
        data: JSON.stringify({
          "id" : user.id,
          "user" : user.user,
          "pass" : user.pass,
          "mail" : user.mail,
          "type" : user.type,
          "active" : user.active,
        }),  
        success: function (result, textStatus, jQxhr) {
          alertSuccess(
            'Usuário alterado!',
            `O usuário '${user.user}' foi alterado com sucesso.`
          );
          userTable.ajax.reload();
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alertError(
            '** ERRO **',
            `Falha ao alterar o usuário '${user.user}'.`
          );
        }
      });
    return;
  }

  async function insertUser(user){
    $.ajax({
        url: "/user/inserir",
        type: "post",
        contentType: 'application/json',
        headers: {
          "Authorization": "Bearer " + '<%=session.token%>'
        },
        data: JSON.stringify({
          "id" : user.id,
          "user" : user.user,
          "pass" : user.pass,
          "mail" : user.mail,
          "type" : user.type,
          "active" : user.active,
        }),  
        success: function (result, textStatus, jQxhr) {
          alertSuccess(
            'Usuário salvo!',
            `O usuário '${user.user}' foi salvo com sucesso.`
          );
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alertError(
            '** ERRO **',
            `Falha ao salvar o usuário '${user.user}'.`
          );
        }
      });
    return;
  }

  let userTable =   $('#usersTable').DataTable({
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json",
    }, 
    "paging": false,
    "searching":false,
    "responsive": true,
    ajax: function ( data, callback, settings ) { 
      $.ajax({            
        url: '/user/buscar' ,            
        type: 'post',
        contentType: 'application/json',
        headers: {
          "Authorization": "Bearer " + '<%=session.token%>'
        },                   
        success: function( arrUsers, textStatus, jQxhr ){            	
          callback({
            // draw: data.draw,
            data: arrUsers.data,
            recordsTotal:  arrUsers.data.length,
            recordsFiltered:  arrUsers.data.length
          });                              
        },
        error: function( jqXhr, textStatus, errorThrown ){
          console.log(errorThrown)                
        }
      });
    },
    "serverSide":true,
    columns: [                
      { data: "user" },
      { data: "type" },	        
      { data: "mail" },	        
      { data: "active" },	        
      { defaultContent: "<div class= 'd-flex justify-content-around'>" + 
        "<a href='#' id='btnEditar' class='btn btn-default btn-warning 	btn-circle btn-sm' data-bs-toggle='modal' data-bs-target='#modalUserDados' ><i class='fa-solid fa-user-pen'></i></a>"+
        "<a href='#' id='btnExcluir' class='btn btn-default btn-danger btn-circle btn-sm'><i class='fa-solid fa-user-xmark'></i></a>" + 
        "</div>"
      }                
    ]
  });

  $('#usersTable tbody').on( 'click', 'a', async function () {
    let btnUser = $(this)[0].id;
    let dataRow = userTable.row( $(this).parents('tr') ).data();

    if(btnUser=='btnExcluir'){
      await deleteUser(dataRow)
    }else{
      setDataUserModal(dataRow);    
    }                    
	});  

  $("#btnNew").click(() => setDataUserModal());

  $("#btnUserSave").click(async () => {
    if($("#iptUserId").val()){
      Swal.fire({
        title: `Alterar usuário '${$("#iptUserName").val()}'?`,
        text: "Ao clicar em 'OK' todos os dados do usuário serão alterados.",
        icon: "warning",
        showCancelButton: true,
        cancelButtonText: 'Não, cancelar',
        confirmButtonText: "Sim, alterar!"
      }).then(async (decision) =>{
        if (!decision.isConfirmed) {
          return;
        }
        await updateUser(buildUser());
        setDataUserModal();
        return;
      });
    }else{
      await insertUser(buildUser());
      return setDataUserModal();
    }    
  })


  $("#btnUserCancel").click(() => {
    return setDataUserModal();
  })

</script>
</body>

<%- include('partials/footer.ejs') %>